[Unit]
Description=ownCloud Server container
Requires=docker.service owncloud-network.service mariadb.service redis-server.service
After=docker.service owncloud-network.service mariadb.service redis-server.service

[Service]
Type=simple
ExecStartPre=/usr/local/lib/owncloud/wait-firstboot
ExecStart=/usr/local/lib/owncloud/run
ExecStop=-/usr/bin/docker stop --time 30 owncloud_server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
